body{
  background-color: blue;
}

nav{
  text-transform: uppercase;
  border: 2px solid black;
  padding: 10px;
  width: 200px;
  margin: auto;
  background-color: black;
  text-align: center;
  margin-top: 10px;
}

nav:hover{
  box-shadow: 0 0 3px 0 black;
  cursor: pointer;
}

nav:hover{
  color: #5FBDCE;
}

a{
  text-decoration: none;
  color: white;
}

.nav-block{
  margin-top: 200px;
  text-align: center;
}

.nav-block input{
  width: 220px;
}

.field{
  margin: auto;
  margin-top: 100px;
  width: 300px;
  height: 300px;
  border: none;
}

.square{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
  font-size: 40px;
}

.winner-field{
  margin-top: 20px;
  padding: 10px;
  text-transform: uppercase;
  color: #514ED9;
  font-size: 25px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  height: 30px;
}